1. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát arról, hogy ügyfelenként (LOGIN), azon belül szállítási módonként hány megrendelés történt!&nbsp;</span> 

a. A lista tartalmazza a részösszegeket és a végösszeget is!  
b. Használjuk a ROLLUP záradékot!

In [ ]:
SELECT  [LOGIN], 
        SZALL_MOD,
        COUNT(*) AS 'Darabszám'
FROM rendeles 
GROUP BY CUBE([LOGIN], SZALL_MOD)

2. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát a termékek számáról a következő csoportosítási szempontok szerint:<br>kategória azonosító, raktárkód, raktárkód+mennyiségi egység!</span>

a. A listát szűrjük azokra a csoportokra, ahol a termékek száma legalább 6!

In [27]:
SELECT KAT_ID,
        Raktar_KOD,
        MEGYS,
        COUNT(*)
FROM Termek
GROUP BY GROUPING SETS(KAT_ID, RAKTAR_KOD, (RAKTAR_KOD, MEGYS))
HAVING COUNT(*) >=6

KAT_ID,Raktar_KOD,MEGYS,(No column name)
NULL,1,db,11
NULL,1,NULL,11
NULL,3,db,14
NULL,3,NULL,14
NULL,5,csomag,7
NULL,5,db,72
NULL,5,NULL,86
NULL,6,csomag,9
NULL,6,db,94
NULL,6,NULL,106
NULL,7,csomag,9
NULL,7,db,88
NULL,7,NULL,100
NULL,8,csomag,8
NULL,8,db,109
NULL,8,ív,6
NULL,8,NULL,123
NULL,9,csomag,11
NULL,9,db,86
NULL,9,NULL,102
4,NULL,NULL,15
6,NULL,NULL,20
16,NULL,NULL,7
19,NULL,NULL,19
24,NULL,NULL,7
30,NULL,NULL,7
35,NULL,NULL,7
41,NULL,NULL,13
45,NULL,NULL,11
46,NULL,NULL,7
52,NULL,NULL,26
54,NULL,NULL,6
66,NULL,NULL,7
78,NULL,NULL,24
83,NULL,NULL,6
85,NULL,NULL,16
91,NULL,NULL,7
93,NULL,NULL,7
96,NULL,NULL,9
97,NULL,NULL,10
100,NULL,NULL,9
118,NULL,NULL,9
122,NULL,NULL,7
124,NULL,NULL,10
133,NULL,NULL,6
145,NULL,NULL,18
146,NULL,NULL,7
149,NULL,NULL,6
152,NULL,NULL,6

```
3. Készítsünk listát az egyes termékkategóriákban lévő termékek számáról! 

```

a. Elég megjeleníteni a kategóriák azonosítóit és a darabszámokat!   
<span style="color: var(--vscode-foreground);">b. A lista megfelelően jelölve tartalmazza a végösszeget is!&nbsp;<br></span> <span style="color: var(--vscode-foreground);">c. Az oszlopokat nevezzük el értelemszerűen!&nbsp;<br></span> <span style="color: var(--vscode-foreground);">d. A listát rendezzük a darabszám szerint növekvő sorrendbe!</span>

  

![](https://moodle.uni-corvinus.hu/theme/image.php/adaptable/atto_h5p/1709548862/icon)

In [ ]:
SELECT IIF(KAT_ID IS NULL , 'Összesen', CAST(KAT_ID AS nvarchar(5))) AS 'Kategória',
        COUNT(*) AS 'Darabszám'
FROM Termek
GROUP BY ROLLUP(KAT_ID)
ORDER BY 2

In [ ]:
SELECT IIF(GROUPING_ID(KAT_ID) = 1 , 'Összesen', CAST(KAT_ID AS nvarchar(5))) AS 'Kategória',
        COUNT(*) AS 'Darabszám',
        GROUPING_ID(KAT_ID) -- mindig 0, kiv. rész- vagy főösszegeket
FROM Termek
GROUP BY ROLLUP(KAT_ID)
ORDER BY 2

4. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát az ügyfelek számáról születési év szerint, azon belül nem szerinti bontásban!&nbsp;</span> 

a. A lista megfelelően jelölve tartalmazza a részösszegeket és a végösszeget is!  
b. Az oszlopoknak adjunk nevet értelemszerűen!

5. <span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 14.44px;">Készítsünk listát a termékek számáról a felvitel hónapja, azon belül napja szerint csoportosítva.&nbsp;</span> 

a. A lista csak a részösszegeket és a végösszeget tartalmazza!  
b. Az oszlopoknak adjunk megfelelő nevet!  
c. Ötlet: HAVING + GROUPING\_ID fv együttes használata

In [23]:
SELECT MONTH(FELVITEL) AS 'HÓ',
         DAY(FELVITEL) AS 'NAP',
        COUNT(*) AS 'DB'
FROM Termek
GROUP BY ROLLUP(MONTH(FELVITEL), DAY(FELVITEL))
HAVING GROUPING_ID(MONTH(FELVITEL)) <> 0 OR GROUPING_ID(DAY(FELVITEL)) <> 0

HÓ,NAP,DB
7,NULL,355
8,NULL,194
9,NULL,1
12,NULL,1
NULL,NULL,551

In [24]:
SELECT MONTH(FELVITEL) AS 'HÓ',
         DAY(FELVITEL) AS 'NAP',
        COUNT(*) AS 'DB',
        GROUPING_ID(MONTH(FELVITEL), DAY(FELVITEL))
FROM Termek
GROUP BY ROLLUP(MONTH(FELVITEL), DAY(FELVITEL))

HÓ,NAP,DB,(No column name)
7,1,8,0
7,2,6,0
7,4,1,0
7,5,4,0
7,6,4,0
7,7,4,0
7,8,3,0
7,9,8,0
7,10,6,0
7,11,11,0
7,12,12,0
7,13,6,0
7,14,14,0
7,15,8,0
7,16,6,0
7,17,13,0
7,18,13,0
7,19,13,0
7,20,13,0
7,21,25,0
7,22,30,0
7,23,33,0
7,24,14,0
7,25,15,0
7,26,15,0
7,27,20,0
7,28,19,0
7,29,14,0
7,30,12,0
7,31,5,0
7,NULL,355,1
8,1,15,0
8,2,11,0
8,3,9,0
8,4,2,0
8,5,5,0
8,6,10,0
8,7,2,0
8,8,13,0
8,9,13,0
8,10,13,0
8,11,12,0
8,12,11,0
8,13,17,0
8,14,2,0
8,15,1,0
8,16,1,0
8,17,7,0
8,18,1,0
8,19,2,0
8,20,13,0
8,21,9,0
8,22,6,0
8,23,2,0
8,24,2,0
8,25,2,0
8,26,5,0
8,27,1,0
8,28,1,0
8,29,6,0
8,NULL,194,1
9,3,1,0
9,NULL,1,1
12,11,1,0
12,NULL,1,1
NULL,NULL,551,3